.wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 30px;
}
.buttons {
  display: flex;
  position: relative;
  z-index: 10;
  background-color: #5e5e5e;
  border-radius: 0 0 5px 5px;
}
.buttonWrap {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status {
  height: 60px;
  font-size: 16px;
  padding: 5px;
  display: block;
  color: #00bcd4;
  border-bottom: 2px solid #4f4f4f;
}
.status:hover {
  background-color: #4f4f4f;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.statusEmpty {
  color: #919191;
}
.buttonSave,
.buttonCancel {
  padding-right: 5px;
}

@media (max-width: 420px) {
  .buttons {
    flex-direction: column;
  }
}
