@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/visuallyHidden';

.container {
  position: absolute;
  left: 95px;
  top: 95px;
}

.wrapImg img {
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.wrapImg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background-color: var(--color-cyan);
  cursor: pointer;
}

.wrapImg:hover {
  background-color: $color-grey;
  transition: background-color 0.4s;
}
