%containerTemplate {
  max-height: calc(100vh - 168px);
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  // width
  @media (max-width: 600px) and (max-height: 1500px) {
    max-height: calc(100vh - 228px);
  }
  @media (max-width: 470px) and (max-height: 1500px) {
    max-height: calc(100vh - 218px);
  }
  // height
  @media (max-height: 600px) and (max-width: 1500px) {
    max-height: calc(100vh - 164px);
  }
  @media (max-height: 470px) and (max-width: 1500px) {
    max-height: calc(100vh - 154px);
  }
  // width + height
  @media (max-height: 600px) and (max-width: 600px) {
    max-height: calc(100vh - 234px);
  }
}
