@import '../common/styles/colors';

/* полоса прокрутки Mozilla Firefox */
@-moz-document url-prefix() {
  .allMessages {
    scrollbar-color: $color-greyLight $color-grey;
    scrollbar-width: thin;
  }
}
/* Chat */
.membersAndMessages {
  display: flex;
  position: relative;
}
/* Members */
.titleMembersWrap,
.buttonSortWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.membersContainer {
  flex: 1 1 200px;
}
.titleMembers {
  font-size: 20px;
  margin-bottom: 5px;
}
.titleMembersArrow {
  display: none;
}
.member {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.showAllWrap {
  text-align: center;
}
.showAll {
  cursor: pointer;
  color: $color-greyLight;
}
.showAll:hover {
  text-decoration: underline;
}
/* Messages */
.allMessages,
.membersContainer {
  max-height: 68vh;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
}
.membersContainerHidden {
  display: none;
}
.allMessages {
  display: flex;
  flex-direction: column;
}
.allMessagesAbsent {
  justify-content: center;
}
.noMessages {
  color: $color-greyLight;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
%messageContainer {
  display: flex;
  max-width: 300px;
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 10px;
  border-radius: 5px;
}
.messageContainer {
  @extend %messageContainer;
  background-color: $color-cyanDark;
}
.myMessageContainer {
  @extend %messageContainer;
  background-color: $color-cyanMedium;
  align-self: flex-end;
}
.name {
  font-weight: 900;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.nameMember {
  font-size: 12px;
  padding-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.message {
  overflow-wrap: break-word;
  width: 100%;
  padding-right: 10px;
}
.avatarSmall {
  display: none;
}
.nameAndMessage {
  margin-left: 15px;
  max-width: 200px;
}
/* AddMessageForm */
.form {
  background-color: $color-darkBlue;
}
.form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* width */
@media (max-width: 760px) {
  .titleMembersArrow {
    display: inline;
  }
  .buttonSortNotShowMembers,
  .chatMembersNotShowMembers {
    display: none;
  }
  .buttonSortMedia,
  .chatMembersMedia {
    position: absolute;
    right: 15px;
    top: 36px;
    width: 150px;
    background-color: $color-darkBlue;
    border-left: 1px solid $color-cyan;
  }
  .chatMembersMedia {
    top: 67px;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 5px 5px;
    max-height: 300px;
    overflow: auto;
    border-left: 1px solid $color-cyan;
    border-bottom: 1px solid $color-cyan;
  }
  .membersAndMessages {
    display: block;
  }
  .membersContainer {
    order: 1;
  }
  .allMessages {
    order: 2;
  }
  .titleMembersWrap {
    position: absolute;
    top: 0;
    right: 15px;
    background-color: $color-darkBlue;
    width: 150px;
    flex-direction: row;
    padding: 0 8px 0 8px;
    border-radius: 0 0 10px 10px;
    border: 1px solid $color-cyan;
    border-top: none;
  }
  .titleMembersWrapDeployed {
    border-radius: 0;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .buttonSortNotShowAll {
    border-right: 1px solid $color-cyan;
  }
  .titleMembers {
    font-size: 12px;
    padding-top: 5px;
  }
}

@media (max-width: 470px) {
  .form {
    padding: 5px;
  }
}
@media (max-width: 420px) {
  .avatarMedium {
    display: none;
  }
  .avatarSmall {
    display: block;
  }
  .name {
    font-size: 14px;
  }
  .messageContainer,
  .myMessageContainer {
    max-width: 200px;
  }
  .nameAndMessage {
    margin-left: 10px;
    max-width: 150px;
  }
}

/* height */
@media (max-height: 620px) {
  .allMessages,
  .membersContainer {
    max-height: 65vh;
  }
}
@media (max-height: 492px) {
  .allMessages,
  .membersContainer {
    max-height: 62vh;
  }
  .form {
    padding: 3px;
  }
}
@media (max-height: 429px) {
  .allMessages,
  .membersContainer {
    max-height: 59vh;
  }
}
@media (max-height: 390px) {
  .allMessages,
  .membersContainer {
    max-height: 56vh;
  }
}
@media (max-height: 352px) {
  .allMessages,
  .membersContainer {
    max-height: 53vh;
  }
}
