@import './../../styles/colors';

.wrapper {
  margin: 0 auto;
  max-width: 470px;
}
.noFound {
  padding: 5px;
  padding-top: 20px;
  font-size: 18px;
  margin: 0 auto;
  width: 130px;
  color: $color-greyLight;
}
.container {
  max-width: 470px;
  width: 100%;
}
.user {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 10px;
  margin: 20px;
  max-height: 120px;
  background-color: $color-greyTransparent;
  border-radius: 10px;
}
.buttonLoadMore {
  text-align: center;
}
.hiddenButtonLoadMore {
  visibility: hidden;
}

@media (max-width: 740px) {
  .wrapUsers {
    display: flex;
    flex-wrap: wrap;
  }
  .user {
    flex-direction: column;
    max-height: 210px;
    margin: 10px;
    flex-basis: 140px;
  }
}
