@import './../../styles/colors';

.wrapper {
  margin: 0 auto;
  max-width: 470px;
}

.container {
  width: 100%;
  max-width: 470px;
}

.buttonLoadMore {
  margin-bottom: 10px;
  text-align: center;
}

.hiddenButtonLoadMore {
  visibility: hidden;
}

.wrapUsers {
  @media (max-width: 740px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.lastElement {
  margin: 10px;
  width: 1px;
  height: 1px;
  background-color: transparent;
}
