@import '../../assets/styles/colors';

.container {
  z-index: 30;
  border-radius: 5px;
  max-height: 30px;
  background-color: var(--color-cyanMedium);
}

.containerProfile {
  position: absolute;
  left: 12px;
  top: 80px;
  opacity: 1;
  transition: opacity 0.5s;
}

.containerProfile:hover {
  opacity: 0;
  transition: opacity 0.5s;
}

.containerSearch {
  position: absolute;
  left: calc(50% - 169px);
  top: 58px;

  @media (max-width: 400px) {
    left: calc(50% - 110px);
    top: 80px;
  }
}

.containerPagination {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
  margin-right: calc(50% - 181px);
  max-width: 168px;
  text-align: center;

  @media (max-width: 600px) {
    bottom: 85px;
    margin-right: auto;
  }
}

.arrow {
  position: absolute;
  left: 13px;
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: transparent transparent var(--color-cyanMedium);
  width: 0;
  height: 0;
}

.arrowSearch {
  left: 65px;

  @media (max-width: 400px) {
    left: 15px;
  }
}

.arrowPagination {
  left: 70px;
  top: 26px;
  border-width: 10px 10px 0;
  border-color: var(--color-cyanMedium) transparent transparent;
}

.text {
  padding: 5px;
  font-size: 10px;
  text-shadow: 4px 4px 9px var(--color-darkBlueTransparent);
}
