@import '../../../../styles/colors';

.postContainer {
  max-width: 500px;
  margin: 10px auto;
  width: 100%;
}
.post {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  min-height: 115px;
  background-color: $color-greyTransparent;
}
.postDelete {
  animation: holeOut 1.2s cubic-bezier(0.31, 1.18, 0.66, 0.89);
}
@-webkit-keyframes holeOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0) rotateY(180deg);
  }
}

@keyframes holeOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0) rotateY(180deg);
  }
}

.columnLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.avatar,
.postSelected {
  cursor: pointer;
}
.avatar:hover:before,
.postSelected:before {
  content: '';
  background-color: $color-darkBlueTransparent;
  background-image: url(../../../../img/icons/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 10;
}
.postSelected:before {
  background-image: url(../../../../img/icons/checkSelected.svg);
}
.columnCenter {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  max-width: 400px;
  width: 100%;
}
.name {
  color: $color-white;
  white-space: pre-wrap;
  font-weight: bold;
}
.message {
  overflow-wrap: anywhere;
}
.columnRight {
  position: relative;
  width: 35px;
  margin: 0 auto;
}
.wrapLike {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.likesCount {
  font-size: 14px;
}
.like {
  color: $color-cyan;
}
.noLike {
  color: $color-cyanLight;
}
