@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  @include wh(auto, 100%);

  margin: 0 auto;
}

.avatar_size_small {
  @include wh(25px, 25px);
}

.avatar_size_medium {
  @include wh(50px, 50px);
}

.avatar_size_large {
  @include wh(80px, 80px);
}

.avatar_size_extraLarge {
  @include wh(132px, 132px);
}
