$color-cyan: #00bcd4;
// главные кнопки, активные ссылки в навигации, декоративные линии,
// ползунок скроллбара при hover

$color-cyanLight: #b2ebf2;
// не нажатый лайк

$color-cyanMedium: #00bcd480;
// мои сообщения в чате

$color-cyanDark: #00bcd433;
// чужие сообщения в чате

$color-grey: #4f4f4f;
// фон подложки App, фон StatusProfile, tooltip in User

$color-greyLight: #919191;
// titleContact in Profile,
// noStatus в Profile, noFound in Users, noMessages in Chat и noPosts in Wall,
// ползунок скроллбара, searchCount in Search, showAll in Chat

$color-greyMedium: #4f4f4f66;
// фон search (Users)

$color-greyTransparent: #5e5e5e4d;
// posts in Wall, users in Users, navLink:hover (Navbar), search:hover (Users)

$color-darkBlue: #222831;
// фон Header, Navbar, content

$color-darkBlueTransparent: #22283199;
// loginBlock in Login,
// shadow header, nav, app-content,
// фон avatar:hover in Post (Wall), tooltip:hover in User

$color-red: #f44336;
// error

$color-green: #4caf50;
// successSave in InfoContainer (Profile)

$color-white: #eee;
// all main text
