@import '../../../styles/colors';

.camera {
  position: absolute;
  top: 95px;
  left: 95px;
}
.wrapImg img {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.wrapImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--color-cyan);
  cursor: pointer;
}
.wrapImg:hover {
  background-color: $color-grey;
  transition: background-color 0.4s;
}
.containerMain {
  display: flex;
  @media (max-width: 770px) {
    display: block;
  }
}
.columnLeft {
  margin: 10px;
  position: relative;
  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.columnRight {
  max-width: 535px;
  width: 100%;
  margin-left: 20px;
  @media (max-width: 770px) {
    margin-left: 0px;
  }
}
.iconButtonEditProfile {
  padding-right: 5px;
}
.fullName {
  font-size: 25px;
  font-weight: bold;
  padding: 0 0 10px 5px;
  overflow-wrap: break-word;
  @media (max-width: 770px) {
    text-align: center;
    padding: 10px 0 5px 0;
  }
}
.buttonsSaveAndCancelProfile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 770px) {
    flex-direction: row;
    margin-bottom: 15px;
  }
}
.successSave {
  color: $color-green;
  animation: anim 2s 2s ease;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  max-width: 130px;
  position: absolute;
  @media (max-width: 770px) {
    top: 185px;
    max-width: 230px;
  }
  @keyframes anim {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
