$color-grey: #4f4f4f;
// фон подложки App, фон StatusProfile, tooltip in User

$color-greyLight: #919191;
// titleContact in Profile,
// noStatus в Profile, noFound in Users, noMessages in Chat и noPosts in Wall,
// ползунок скроллбара, searchCount in Search, showAll in Chat

$color-greyMedium: transparentize($color-grey, 0.6);
// фон search (Users)

$color-greyTransparent: transparentize(#5e5e5e, 0.7);
// posts in Wall, users in Users, navLink:hover (Navbar), search:hover (Users)

$color-red: #f44336;
// error

$color-green: #4caf50;
// successSave in InfoContainer (Profile)

$color-white: #eee;
// all main text
