$color-grey: hsla(0, 0%, 31%, 1);
// background: App, ProfileStatus, Tooltip (User)

$color-greyLight: hsla(0, 0%, 57%, 1);
// text: titleContact (Profile), searchCount (Search), showAll (Chat),
// noStatus (ProfileStatus), noPosts (ProfileWall), noFound (Users),
// noMessages (Chat) and scrollbar slider

$color-greyMedium: hsla(0, 0%, 31%, 0.4);
// background: Search (Users, Friends)

$color-greyTransparent: hsla(0, 0%, 37%, 0.3);
// background: posts (Wall), users (Users),
// navLink:hover (Navbar), search:hover (Users)

$color-red: hsla(4, 90%, 58%, 1);
// text: error, maxLength (FieldWithCounter)

$color-yellow: hsla(60, 90%, 48%, 1);
// text: maxLength minus 10 (FieldWithCounter)

$color-green: hsla(122, 39%, 49%, 1);
// text: successSave (ProfileInfoContainer)

$color-white: hsla(0, 0%, 93%, 1);
// all main text
