:root {
  --color-cyan-theme1: hsla(187, 100%, 42%, 1);
  --color-cyan-theme2: hsla(157, 100%, 42%, 1);
  --color-cyan: var(--color-cyan-theme1);
  /* main buttons, active links in navigation, decorative lines, */
  /* scrollbar slider on :hover */

  --color-cyanLight-theme1: hsla(187, 71%, 82%, 1);
  --color-cyanLight-theme2: hsla(157, 100%, 85%, 1);
  --color-cyanLight: var(--color-cyanLight-theme1);
  /* not clicked like (Profile-Wall-Post) */

  --color-cyanMedium-theme1: hsla(187, 100%, 42%, 0.5);
  --color-cyanMedium-theme2: hsla(157, 100%, 31%, 1);
  --color-cyanMedium: var(--color-cyanMedium-theme1);
  /* background: my messages (Chat) */

  --color-cyanDark-theme1: hsla(187, 100%, 42%, 0.2);
  --color-cyanDark-theme2: hsla(157, 100%, 17%, 1);
  --color-cyanDark: var(--color-cyanDark-theme1);
  /* background: other people's messages (Chat), */
  /* selected posts (Profile-Wall) */

  --color-darkBlue-theme1: hsla(216, 18%, 16%, 1);
  --color-darkBlue-theme2: hsla(36, 18%, 16%, 1);
  --color-darkBlue: var(--color-grey-theme1);
  /* background: Header, Navbar, content block */

  --color-darkBlueTransparent-theme1: hsla(216, 18%, 16%, 0.6);
  --color-darkBlueTransparent-theme2: hsla(36, 18%, 16%, 0.6);
  --color-darkBlueTransparent: var(--color-grey-theme1);
  /* background: Login, Avatar on :hover (Profile-Wall-Post), */
  /* Tooltip on :hover (User) */
  /* box-shadow: Header, Navbar, app-content (App), */
}
