:root {
  --color-cyan-theme1: hsla(187, 100%, 42%, 1);
  --color-cyan-theme2: hsla(157, 100%, 42%, 1);
  --color-cyan: var(--color-cyan-theme1);
  /* главные кнопки, активные ссылки в навигации, декоративные линии, */
  /* ползунок скроллбара при hover */

  --color-cyanLight-theme1: hsla(187, 71%, 82%, 1);
  --color-cyanLight-theme2: hsla(157, 100%, 85%, 1);
  --color-cyanLight: var(--color-cyanLight-theme1);
  /* не нажатый лайк */

  --color-cyanMedium-theme1: hsla(187, 100%, 42%, 0.5);
  --color-cyanMedium-theme2: hsla(157, 100%, 31%, 1);
  --color-cyanMedium: var(--color-cyanMedium-theme1);
  /* мои сообщения в чате */

  --color-cyanDark-theme1: hsla(187, 100%, 42%, 0.2);
  --color-cyanDark-theme2: hsla(157, 100%, 17%, 1);
  --color-cyanDark: var(--color-cyanDark-theme1);
  /* чужие сообщения в чате, выбранные посты на стене */

  --color-darkBlue-theme1: hsla(216, 18%, 16%, 1);
  --color-darkBlue-theme2: hsla(36, 18%, 16%, 1);
  --color-darkBlue: var(--color-grey-theme1);
  /* фон Header, Navbar, content */

  --color-darkBlueTransparent-theme1: hsla(216, 18%, 16%, 0.6);
  --color-darkBlueTransparent-theme2: hsla(36, 18%, 16%, 0.6);
  --color-darkBlueTransparent: var(--color-grey-theme1);
  /* loginBlock in Login, */
  /* shadow header, nav, app-content, */
  /* фон avatar:hover in Post (Wall), tooltip:hover in User */
}
