@import '../../../styles/colors';

.wrapAvatarNameAndStatus {
  display: flex;

  @media (max-width: 740px) {
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  overflow: hidden;
  margin: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.avatar img {
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.nameAndStatus {
  padding: 0 20px;
  width: 100%;
  height: 50px;
  max-width: 200px;

  @media (max-width: 740px) {
    max-width: 120px;
    text-align: center;
  }

  @media (max-width: 380px) {
    width: 100%;
    max-width: 200px;
  }
}

.name,
.status {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-white;
}

.name {
  font-weight: 700;
}

.status {
  font-style: italic;
  color: var(--color-cyan);
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  overflow-wrap: break-word;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  max-width: 300px;
  box-shadow: 2px 2px 5px var(--color-darkBlueTransparent);
  color: $color-white;
  background: $color-grey;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

[data-tooltip]:hover:after {
  top: 2em;
  opacity: 1;
}

.button {
  text-align: center;
}
