@import '../../../styles/colors';

.name {
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  color: $color-white;

  @media (max-width: 420px) {
    font-size: 14px;
  }
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.name__small {
  font-size: 12px;
}
