@import '../../../../styles/colors';

.form {
  margin: 15px;
}

.titleForm {
  font-size: 24px;

  @media (max-width: 770px) {
    margin-top: 30px;
    font-size: 22px;
  }

  @media (max-width: 600px) {
    margin-top: 0;
  }

  @media (max-width: 420px) {
    font-size: 22px;
  }
}

.block {
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.contact {
  margin-top: 12px;
  padding-left: 20px;
}

.titleAllContacts {
  display: inline-block;
  max-width: 160px;
  font-weight: 700;
  font-size: 16px;
  color: $color-greyLight;
}

.titleContact {
  display: inline-block;
  margin-top: 6px;
  width: 90px;
  color: $color-greyLight;
}

.errorProfileContacts {
  padding: 5px;
  color: $color-red;
}
