@import '../../../../styles/colors';

.containerForm {
  margin: 20px;
  margin-left: 0;
  padding-left: 5px;
  max-width: 470px;

  @media (max-width: 420px) {
    margin: 5px;
  }
}

.wrap {
  position: relative;
}

.aboutMe,
.job,
.contacts {
  margin-top: 15px;
  padding-left: 22px;

  @media (max-width: 420px) {
    padding-left: 12px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.job:before,
.contacts:before,
.aboutMe:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 48px;
  background-color: var(--color-cyan);
  transition: width 0.2s;
}

.job:hover:before,
.contacts:hover:before,
.aboutMe:hover:before {
  width: 5px;
}

.text {
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 15px 0 20px;
  font-weight: 300;
  font-style: italic;
}

.contact {
  display: flex;
  margin-bottom: 10px;
  margin-left: 15px;

  @media (max-width: 370px) {
    flex-direction: column;
  }
}

.contactTitle {
  flex: 0 0 100px;
  color: $color-greyLight;

  @media (max-width: 370px) {
    flex-basis: auto;
  }
}

.contactTextWrap {
  overflow: hidden;
  max-width: 350px;
  text-overflow: ellipsis;

  @media (max-width: 860px) {
    max-width: 200px;
  }
}

.contactText {
  text-decoration: none;
  color: $color-white;
}

.contactText:hover {
  text-decoration: underline;
}
