@import '../../../../styles/colors';
@import '../../../../styles/visuallyHidden';

.postContainer {
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
}

.post {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  min-height: 115px;
  background-color: $color-greyTransparent;
}

.postSelected {
  background-color: var(--color-cyanDark);
}

.postContainerDelete {
  animation: holeOut 1.2s cubic-bezier(0.31, 1.18, 0.66, 0.89);
}

@keyframes holeOut {
  0% {
    opacity: 1;
    transform: scale(1, 1) rotateY(0deg);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0) rotateY(180deg);
    transform-origin: 50% 50%;
  }
}

.columnLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar,
.postSelectedTheme1,
.postSelectedTheme2 {
  cursor: pointer;
}

// для устройств с мышью
@media (hover: hover) and (pointer: fine) {
  .avatar:hover:before,
  .postSelectedTheme1:before,
  .postSelectedTheme2:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('../../../../img/icons/check.svg');
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: var(--color-darkBlueTransparent);
  }
}

// для сенсорных экранов (исп. focus вместо hover),
// focus - чтобы исчезала галочка после отмены выбора на сенсорном экране
@media (hover: none) and (pointer: coarse) {
  .avatar:focus:before,
  .postSelectedTheme1:before,
  .postSelectedTheme2:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('../../../../img/icons/check.svg');
    background-position: 50% 50%;
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: var(--color-darkBlueTransparent);
  }
}

.postSelectedTheme1:before {
  background-image: url('../../../../img/icons/checkSelectedTheme1.svg');
}

.postSelectedTheme2:before {
  background-image: url('../../../../img/icons/checkSelectedTheme2.svg');
}

.columnCenter {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  width: 100%;
  max-width: 400px;
}

.message {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.columnRight {
  position: relative;
  margin: 0 auto;
  width: 35px;
}

.plugColumnRight {
  width: 35px;
}

.wrapLike {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.likesCount {
  font-size: 14px;
}

.like {
  color: var(--color-cyan);
}

.noLike {
  color: var(--color-cyanLight);
}
