@import '../../../styles/colors';

.count {
  position: absolute;
  right: 10px;
  top: 0;
  display: inline-block;
  font-size: 10px;
}

.countHidden {
  display: none;
}

.count_yellow {
  color: $color-yellow;
}

.count_red {
  color: $color-red;
}