@import '../../../../styles/colors';

.container {
  position: relative;
  margin-right: 30px;
  border-radius: 5px;
  width: 100%;
}

.wrap {
  position: absolute;
  z-index: 20;
  width: 100%;
}

.buttons {
  position: absolute;
  display: flex;
  border-radius: 0 0 5px 5px;
  width: 100%;
  background-color: $color-grey;
}

.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.plug {
  height: 41px;
}

.status,
.statusNotMy {
  display: block;
  overflow: hidden;
  border-bottom: 2px solid $color-grey;
  padding: 8px;
  padding-bottom: 6px;
  min-height: 30px;
  max-height: 241px;
  font-size: 16px;
  line-height: 25px;
  word-break: break-word;
  color: var(--color-cyan);
}

.status:hover {
  border-radius: 5px;
  background-color: $color-grey;
  cursor: pointer;
}

.noStatus {
  color: $color-greyLight;
}

.buttonSave,
.buttonCancel {
  padding-right: 5px;
}

@media (max-width: 420px) {
  .buttons {
    flex-direction: column;
  }
}
