@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import '../common/styles/colors';

.header {
  background-color: $color-darkBlue;
  box-shadow: 0 3px 3px $color-darkBlueTransparent;
  grid-area: header;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}
.logoAndTitle {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logoAndTitle img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 10px;
}
.headerTitle {
  color: $color-white;
  font-size: 25px;
  font-family: 'Mate SC', serif;
  padding-right: 10px;
}
.rightPart {
  display: flex;
  align-items: center;
}
.loginAndPhoto {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.loginName {
  font-size: 15px;
  margin-left: 10px;
  color: $color-white;
}
.logoutImg {
  padding-right: 5px;
}
.buttonMobile {
  display: none;
}
@media (max-width: 570px) {
  .loginName,
  .buttonDesctop {
    display: none;
  }
  .buttonMobile {
    display: inline;
  }
}
@media (max-width: 440px) {
  .headerTitle {
    font-size: 18px;
  }
  .logoAndTitle img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 360px) {
  .headerTitle {
    font-size: 14px;
  }
}
