@import '../../styles/colors';

.nav {
  background-color: $color-darkBlue;
  grid-area: nav;
  padding: 15px;
  width: 180px;
  border-radius: 10px 10px 0 0;
  min-height: calc(100vh - 70px);
  height: 100%;
  box-shadow: 0 5px 5px $color-darkBlueTransparent,
    0 5px 5px $color-darkBlueTransparent;
}
.navLink {
  text-decoration: none;
  margin-top: 10px;
  font-size: 18px;
  color: $color-white;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}
.navLinkImg {
  padding-right: 8px;
  width: 36px;
  fill: $color-white;
}
.navLink:hover {
  background-color: $color-greyTransparent;
}
.navLink:nth-child(1) {
  margin-top: 0;
}
.navLink.active {
  color: $color-cyan;
}
.activeIcon {
  fill: $color-cyan;
}

@media (max-width: 600px) {
  .nav {
    max-width: 565px;
    min-height: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0;
  }
  .nav:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background: $color-cyan;
  }
  .navLink {
    margin-top: 0;
    margin-bottom: -4px;
    font-size: 12px;
    padding: 5px 5px 0 5px;
    flex-direction: column;
    align-items: center;
    flex-basis: 80px;
  }
  .navLinkImg {
    padding-right: 0;
  }
}
@media (max-width: 400px) {
  .nav {
    padding: 5px;
  }
}
