@import '../../../styles/colors';
@import '../container';

.container {
  display: flex;
  flex-direction: column;

  @extend %containerTemplate;
}

.containerNoMessages {
  justify-content: center;
  margin-top: 50px;
}

.noMessages {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: $color-greyLight;
}

@media (max-width: 760px) {
  .container {
    order: 2;
  }
}
