@import '../../../styles/colors';
@import '../container';

.container {
  @extend %containerTemplate;
  display: flex;
  flex-direction: column;
}
.containerNoMessages {
  justify-content: center;
  margin-top: 50px;
}
.noMessages {
  color: $color-greyLight;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

@media (max-width: 760px) {
  .container {
    order: 2;
  }
}
