.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchCount {
  font-size: 14px;
  color: #919191;
}

@media (max-width: 390px) {
  .search {
    flex-direction: column;
  }
}
