@import '../../../../styles/colors';

.form {
  margin: 15px;
}

.titleForm {
  margin-bottom: 30px;
  font-size: 24px;
}

.wrap {
  margin-bottom: 12px;
  padding-bottom: 10px;
}

.contact {
  margin-top: 12px;
  padding-left: 20px;
}

.titleAllContacts {
  display: inline-block;
  max-width: 160px;
  font-weight: 900;
  font-size: 16px;
  color: $color-greyLight;
}

.titleContact {
  display: inline-block;
  margin-top: 6px;
  width: 90px;
  color: $color-greyLight;
}

.countStyle {
  display: none;
}

.wrapForCount {
  position: relative;
}

.errorProfileContacts {
  padding: 5px;
  color: $color-red;
}

@media (max-width: 420px) {
  .titleForm {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
