.form {
  margin: 15px;
}
.titleForm {
  font-size: 24px;
  margin-bottom: 30px;
}
@import '../../../common/styles/colors';

.wrap {
  margin-bottom: 12px;
  padding-bottom: 10px;
}
.contact {
  padding-left: 20px;
  margin-top: 12px;
}
.titleAllContacts {
  display: inline-block;
  max-width: 160px;
  font-weight: 900;
  font-size: 16px;
  color: $color-greyLight;
}
.titleContact {
  display: inline-block;
  width: 90px;
  color: $color-greyLight;
  margin-top: 6px;
}
.countStyle {
  display: none;
}
.wrapForCount {
  position: relative;
}
.errorProfileContacts {
  color: $color-red;
  padding: 5px;
}
@media (max-width: 420px) {
  .titleForm {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
