@import './styles/colors';
@import './styles/scrollbar.scss';

.fon,
.container {
  /* компенсация полосы прокрутки, когда её нет */
  padding-right: calc(5px - (100vw - 100%));
  background-color: $color-grey;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 880px;
}

.appWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'header header' 'nav content';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;

  /* Шрифт */
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: $color-white;
}

.appWrapperContent {
  position: relative;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 0;
  width: 100%;
  max-width: 690px;
  box-shadow: 0 5px 5px var(--color-darkBlueTransparent), 0 5px 5px var(--color-darkBlueTransparent);
  background-color: var(--color-darkBlue);
}

@media (max-width: 600px) {
  .container {
    min-height: 100vh;
  }

  .appWrapper {
    grid-template-areas: 'header' 'content' 'nav';
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 140px) 60px;
  }

  .appWrapperContent {
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px 10px 0;
  }
}

@media (max-height: 600px) {
  .appWrapperContent {
    padding: 15px 10px 0;
  }
}
