@import './styles/colors';

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px; /* ширина для вертикального скролла */
  height: 5px; /* высота для горизонтального скролла */
  background-color: $color-grey;
  border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $color-greyLight;
  border-radius: 9em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-cyan);
}

html,
body {
  /* полоса прокрутки Mozilla Firefox */
  scrollbar-color: $color-greyLight $color-grey;
  scrollbar-width: thin;
}
.fon,
.container {
  /* компенсация полосы прокрутки, когда её нет */
  padding-right: calc(5px - (100vw - 100%));
  background-color: $color-grey;
}
.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 15px;
}
.appWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'header header'
    'nav content';
  grid-gap: 10px;

  /* Шрифт */
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: $color-white;
}
.appWrapperContent {
  box-shadow: 0 5px 5px var(--color-darkBlueTransparent),
    0 5px 5px var(--color-darkBlueTransparent);
  background-color: var(--color-darkBlue);
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 0 20px;
  max-width: 690px;
  width: 100%;
  position: relative;
}

@media (max-width: 600px) {
  .container {
    min-height: 100vh;
  }
  .appWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 140px) 60px;
    grid-template-areas:
      'header'
      'content'
      'nav';
  }
  .appWrapperContent {
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    overflow-y: auto;
  }
}
@media (max-height: 600px) {
  .appWrapperContent {
    padding: 15px 10px 0 10px;
  }
}
