@import './colors';

// Styles for customizing browser form elements;
// to hide them (visuallyHidden) and add our own (elementInteractive).

// Also visuallyHidden hides the headers that are added for accessibility,
// but which is not in the design.

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.visuallyHidden:focus + .elementInteractive {
  border-radius: 5px;
  box-shadow: 0 0 0 0.1em $color-white;
  background-color: $color-grey;
}
