@import '../../../styles/colors';

.container {
  margin: 0 auto;
  margin-top: 20px;
  border-top: 2px var(--color-cyan) solid;
  padding-top: 15px;
  width: 100%;
  max-width: 620px;
}

.basket {
  display: block;
  margin: 0 auto;
  height: 61px;
  max-width: 150px;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.posts {
  min-height: 300px;

  @media (max-width: 600px) {
    min-height: 0;
  }
}

.buttonBig {
  @media (max-width: 700px) {
    display: none;
  }

  @media (max-width: 600px) {
    display: block;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.buttonIcon {
  @media (max-width: 700px) {
    display: block;
  }

  @media (max-width: 600px) {
    display: none;
  }

  @media (max-width: 500px) {
    display: block;
  }
}
