/* .containerMain {

} */
.container {
  display: flex;
  margin: 30px;
}
.items {
  margin-right: 50px;
}
.items a {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 18px;
}
.items a:hover {
  background-color: rgb(120, 170, 120);
}
.dialogs {
  max-width: 400px;
}
.message {
  background-color: rgb(155, 155, 155);
  padding: 20px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 10px;
}

.wrapSendAndButton {
  display: flex;
  align-items: center;
}