@import './../../assets/styles/colors';
@import './../../assets/styles/visuallyHidden';

.container {
  position: relative;
  margin: 0 auto;
  max-width: 470px;
}

.wrapUsers {
  width: 100%;
  max-width: 470px;
}

.buttonLoadMore {
  margin-bottom: 10px;
  text-align: center;
}

.hiddenButtonLoadMore {
  visibility: hidden;
}

.users {
  @media (max-width: 740px) {
    display: flex;
    flex-wrap: wrap;
  }
}
